[submodule "robotont-firmware-power-management"]
	path = robotont-firmware-power-management
	url = https://github.com/robotont/robotont-firmware-power-management.git
[submodule "robotont-firmware"]
	path = robotont-firmware
	url = https://github.com/robotont/robotont-firmware.git
[submodule "robotont-electronics-mainboard"]
	path = robotont-electronics-mainboard
	url = https://github.com/robotont/robotont-electronics-mainboard.git
[submodule "robotont_driver"]
	path = robotont_driver
	url = https://github.com/robotont/robotont_driver.git
